[Unit]
Description=forking densityapp program

[Service]
Type=forking
PIDFile=/var/run/densityapp.pid
ExecStart=/usr/bin/densityapp \
	--log_file /var/log/densityapp.log \
	--pid_file /var/run/densityapp.pid \
	--daemon
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
